<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		Please confirm the change of your email address by clicking the following link.<br>
		The link is valid for 24 hours or until another one is generated.<br>
		<br>
		If you did not initiate this, please ignore this email.<br>
		<br>
		Confirmation link: <a href="https://{{ hostname }}/confirm_email.php?id={{ id }}&amp;key={{ key }}">https://{{ hostname }}/confirm_email.php?id={{ id }}&amp;key={{ key }}</a>
	</body>
</html>
