<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		We have received a request to reset your password.<br>
		Please click on the following link to choose a new password.<br>
		The link is valid for 24 hours or until another one is generated.<br>
		<br>
		If you did not initiate this, please ignore this email.<br>
		<br>
		Link: <a href="https://{{ hostname }}/reset_password.php?id={{ id }}&key={{ key }}">https://{{ hostname }}/confirm_email.php?id={{ user_id }}&key={{ key }}</a>
	</body>
</html>