<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		Use the link below to confirm your email and continue your registration process.<br>
		The link is valid for 24 hours or until registration is completed.<br>
		<br>
		If you did not initiate this, please ignore this email.<br>
		<br>
		<a href="https://{{ hostname }}/signup_cont.php?id={{ id }}&key={{ key }}">https://{{ hostname }}/signup_cont.php?id={{ id }}&key={{ key }}</a>
	</body>
</html>