{% extends "main.twig" %}

{% block title %}Game Boy Wars 3 - Map Gallery{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/gbwars.css">
{% endblock %}

{% block content %}
    <h1>Game Boy Wars 3</h1>
    <p class="lead">Map Gallery - {{ maps|length }} maps available</p>

    {% if maps is empty %}
        <div class="alert alert-info">
            <h4>No Maps Available</h4>
            <p>Run the seeder to import maps:</p>
            <code>vendor/bin/phinx seed:run -s GameboyWars3Seeder</code>
        </div>
    {% else %}
        <div class="map-grid">
            {% for map in maps %}
                <a href="map.php?id={{ map.map_id|url_encode }}" class="map-card">
                    <div class="map-preview">
                        <img src="preview.php?id={{ map.map_id|url_encode }}&size=8"
                             alt="Map {{ map.map_id }}"
                             loading="lazy">
                    </div>
                    <div class="map-info">
                        <h5>{{ map.map_name }}</h5>
                        <div class="map-meta">
                            <span class="map-id">#{{ map.map_id }}</span>
                            <span class="map-size">{{ map.width }}x{{ map.height }}</span>
                            <span class="map-price">{{ map.price_yen }}&#165;</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
