{% extends "main.twig" %}

{% block title %}{{'account.change-password'|trans}}{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 0 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>{{'account.change-your-password'|trans}}</legend>
						<div class="mb-3">
							<label for="currentPassword" class="form-label">{{'current-password'|trans}}</label>
							<input id="currentPassword" name="currentPassword" type="password" required class="form-control{% if result == 1 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'wrong-password'|trans}}
							</div>
						</div>
						<div class="mb-3">
							<label for="newPassword" class="form-label">{{'new-password'|trans}}</label>
							<input id="newPassword" name="newPassword" type="password" required class="form-control{% if result == 2 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'password-invalid'|trans}}
							</div>
						</div>
						<div class="mb-3">
							<label for="newPasswordConfirm" class="form-label">{{'confirm-new-password'|trans}}</label>
							<input id="newPasswordConfirm" name="newPasswordConfirm" type="password" required class="form-control{% if result == 3 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'passwords-dont-match'|trans}}
							</div>
						</div>
						<button type="submit" class="btn btn-primary">{{'send'|trans}}</button>
					</fieldset>
				</form>
			</div>
		{% else %}
			<div class="alert alert-success m-auto">
				{{'account.password-changed-success'|trans}}
			</div>
		{% endif %}
	</div>
{% endblock %}