{% extends "main.twig" %}

{% block title %}{{'account.change-email'|trans}}{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 0 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>{{'account.change-email-address'|trans}}</legend>
						<div class="mb-3">
							<label for="currentPassword" class="form-label">{{'current-password'|trans}}</label>
							<input id="currentPassword" name="currentPassword" type="password" required class="form-control{% if result == 1 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'wrong-password'|trans}}
							</div>
						</div>
						<div class="mb-3">
							<label for="newEmail" class="form-label">{{'new-email'|trans}}</label>
							<input id="newEmail" name="newEmail" type="email" required class="form-control{% if result == 2 %}{{ " is-invalid" }}{% endif %}" value="{{ email|e }}">
							<div class="invalid-feedback">
								{{'invalid-email'|trans}}
							</div>
						</div>
						<button type="submit" class="btn btn-primary">{{'send'|trans}}</button>
					</fieldset>
				</form>
			</div>
		{% else %}
			<div class="alert alert-success m-auto">
				{{'account.email-confirm-sent'|trans}}
			</div>
		{% endif %}
	</div>
{% endblock %}