{% extends "main.twig" %}

{% block title %}{{'your-account'|trans}}{% endblock %}

{% block head %}
	<script src="/js/user/summary.js"></script>
	<noscript>
		<style>
			.js-only {
				display: none !important;
			}
		</style>
	</noscript>
{% endblock %}

{% block content %}
	<h1>{{'account.your-reon-account'|trans}}</h1>
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					{{'account.account-details'|trans}}
				</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="email" class="form-label">{{'email-addr'|trans}}</label>
						<input id="email" type="text" readonly class="form-control" value="{{ email|e }}">
					</div>
					<hr>
					<a href="change_email.php" class="btn btn-primary">{{'account.change-email'|trans}}</a>
					<a href="change_password.php" class="btn btn-primary">{{'account.change-password'|trans}}</a>
                    <a href="adapter_config.php" class="btn btn-primary" download="config.bin">Download Config Data</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					{{'account.stats'|trans}}
				</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="inboxSize" class="form-label">{{'account.emails-in-inbox'|trans}}</label>
						<input id="inboxSize" type="text" readonly class="form-control-plaintext" value="{{ inbox_size }}">
					</div>
					<div class="mb-3">
						<label for="moneySpent" class="form-label">{{'account.money-spent'|trans}}</label>
						<input id="moneySpent" type="text" readonly class="form-control-plaintext" value="{{ money_spent }}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					{{'account.dion-account-details'|trans}}
				</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="dionPppId" class="form-label">{{'account.dion-id'|trans}}</label>
						<input id="dionPppId" type="text" readonly class="form-control" value="{{ dion_ppp_id|e }}">
					</div>
					<div class="mb-3">
						<label for="dionEmail" class="form-label">{{'email-addr'|trans}}</label>
						<input id="dionEmail" type="text" readonly class="form-control" value="{{ dion_email|e }}">
					</div>
					<div class="mb-3">
						<label for="dionPassword" class="form-label js-only">{{'account.log-in-password'|trans}}</label>
						<div class="input-group js-only">
							<input id="dionPassword" type="text" readonly class="form-control" value="&lt;hidden&gt;" data-password="{{ log_in_password|e }}" aria-describedby="dionPasswordRevealButton">
							<button id="dionPasswordRevealButton" type="button" class="btn btn-outline-primary">{{'reveal'|trans}}</button>
						</div>
						<noscript>
							<label for="dionPasswordNoJs" class="form-label">{{'account.log-in-password'|trans}}</label>
							<input id="dionPasswordNoJs" type="text" readonly class="form-control" value="{{ log_in_password|e }}">
						</noscript>
					</div>
					<hr>
					<button type="button" class="btn btn-primary js-only" data-bs-toggle="modal" data-bs-target="#confirmPasswordRerollModal">{{'account.reroll-log-in-password'|trans}}</button>
					<noscript>
						<a href="reroll_password.php" class="btn btn-primary">{{'account.reroll-log-in-password'|trans}}</a>
					</noscript>
				</div>
			</div>
		</div>
        <div class="col-lg-6">
			<div class="card">
				<div class="card-header">{{ "account.pokemon-crystal-settings"|trans }}</div>
				<div class="card-body">
                    <form method="post" action="update_trade_setting.php">
                        <div class="mb-3">
                            <label for="tradeRegions">{{ "account.trade-corner-region-allowlist"|trans }}</label>
                            <small><p>{{ "account.trade-region-allowlist-blurb"|trans }}</p></small>
                            <select id="tradeRegions" name="tradeRegions">
                                <option value="e,f,d,s,i,p,u,j"{%
                                    if (trade_region_allowlist == "e,f,d,s,i,p,u,j")
                                %} selected{% endif %}>{{ "account.trade-option-1"|trans }}</option>
                                <option value="efdsipu,j"{%
                                    if (trade_region_allowlist == "efdsipu,j")
                                %} selected{% endif %}>{{ "account.trade-option-2"|trans }}</option>
                                <option value="efdsipuj"{%
                                    if (trade_region_allowlist == "efdsipuj")
                                %} selected{% endif %}>{{ "account.trade-option-3"|trans }}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">{{ "account.update-settings"|trans }}</button>
                    </form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div id="confirmPasswordRerollModal" class="modal fade" tabindex="-1" aria-labelledby="confirmPasswordRerollModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 id="confirmPasswordRerollModalLabel" class="modal-title fs-5">{{'account.reroll-log-in-password'|trans}}</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{'account.reroll-confirm-message'|trans}}<br>
					{{'account.reroll-warning'|trans}}
				</div>
				<div class="modal-footer">
					<a href="reroll_password.php" class="btn btn-primary">{{'account.reroll-log-in-password'|trans}}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
