{% extends "main.twig" %}

{% block title %}{{'forgot-password'|trans}}{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 0 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>{{'password-reset.title'|trans}}</legend>
						<div class="mb-3">
							<label for="email" class="form-label">{{'email-addr'|trans}}</label>
							<input id="email" type="email" name="email" required class="form-control{% if result > 0 %}{{ " is-invalid" }}{% endif %}" value="{{ email|e }}">
							{% if result == 1 %}
								<div class="invalid-feedback">
									{{'password-reset.this-email-not-registered'|trans}}
								</div>
							{% elseif result == 2 %}
								<div class="invalid-feedback">
									{{'password-reset.email-sent-recently'|trans}}
								</div>
							{% endif %}
						</div>
						<button type="submit" class="btn btn-primary">{{'send'|trans}}</button>
					</fieldset>
				</form>
			</div>
		{% else %}
			<div class="alert alert-success m-auto">
				{{'password-reset.email-sent'|trans}}
			</div>
		{% endif %}
	</div>
{% endblock %}