{% extends "main.twig" %}

{% block title %}{{'reset-password'|trans}}{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 1 and result != 4 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>{{'password-reset.title'|trans}}</legend>
						<div class="mb-3">
							<label for="password" class="form-label">{{'new-password'|trans}}</label>
							<input id="password" type="password" name="password" required class="form-control{% if result == 3 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'password-invalid'|trans}}
							</div>
						</div>
						<div class="mb-3">
							<label for="passwordConfirm" class="form-label">{{'confirm-new-password'|trans}}</label>
							<input id="passwordConfirm" type="password" name="passwordConfirm" required class="form-control{% if result == 2 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'passwords-dont-match'|trans}}
							</div>
						</div>
						<button type="submit" class="btn btn-primary">{{'reset'|trans}}</button>
					</fieldset>
					<input type="hidden" name="id" value="{{ id|e }}">
					<input type="hidden" name="key" value="{{ key|e }}">
				</form>
			</div>
		{% elseif result == 1 %}
			<div class="alert alert-danger m-auto">
				{{'link-invalid-expired'|trans}}
			</div>
		{% elseif result == 4 %}
			<div class="alert alert-success m-auto">
				{{'password-reset.success'|trans}}
			</div>
		{% endif %}
	</div>
{% endblock %}