{% extends "main.twig" %}

{% block title %}{{'signup'|trans}}{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 0 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>{{'auth.signup-to-reon'|trans}}</legend>
						<div class="mb-3">
							<label for="email" class="form-label">{{'email-addr'|trans}}</label>
							<input id="email" type="email" name="email" required class="form-control{% if result == 2 %}{{ " is-invalid" }}{% endif %}" value="{{ email|e }}">
							<div class="invalid-feedback">
								{{'invalid-email'|trans}}
							</div>
						</div>
						<div class="mb-3">
							<div class="form-check">
								<label for="agree" class="form-check-label">
									{{'auth.i-agree-terms'|trans}}
								</label>
								<input id="agree" type="checkbox" name="agree" required class="form-check-input{% if result == 1 %}{{ " is-invalid" }}{% endif %}">
								<div class="invalid-feedback">
									{{'auth.you-must-agree'|trans}}
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">{{'continue'|trans}}</button>
					</fieldset>
				</form>
			</div>
		{% else %}
			<div class="alert alert-success m-auto">
				{{'auth.registration-email-sent'|trans}}
			</div>
		{% endif %}
	</div>
{% endblock %}