{% extends "main.twig" %}

{% block title %}{{'signup'|trans}}{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 0 and result != 1 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>{{'auth.signup-to-reon'|trans}}</legend>
						<div class="mb-3">
							<label for="email" class="form-label">{{'email-addr'|trans}}</label>
							<input id="email" type="email" disabled class="form-control" value="{{ email|e }}">
						</div>
						<div class="mb-3">
							<label for="reonEmail" class="form-label">{{'auth.reon-email'|trans}}</label>
							<input id="reonEmail" type="text" name="reonEmail" required class="form-control{% if result == 2 %}{{ " is-invalid" }}{% endif %}" value="{{ reon_email|e }}">
							<div class="invalid-feedback">
								{{'auth.reon-email-invalid'|trans}}
							</div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">{{'password'|trans}}</label>
							<input id="password" type="password" name="password" required class="form-control{% if result == 4 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'password-invalid'|trans}}
							</div>
						</div>
						<div class="mb-3">
							<label for="passwordConfirm" class="form-label">{{'confirm-password'|trans}}</label>
							<input id="passwordConfirm" type="password" name="passwordConfirm" required class="form-control{% if result == 3 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								{{'passwords-dont-match'|trans}}
							</div>
						</div>
                        <div class="mb-3">
                            <label for="tradeRegions">{{ "account.trade-corner-region-allowlist"|trans }}</label>
                            
                            <small>
                            <details>
                                <summary>{{ "what-is-this"|trans }}</summary>
                                
                                <p>{{ "auth.region-explanation-para1"|trans }}</p>
                                <p>{{ "auth.region-explanation-para2"|trans }}</p>
                            </details>
                            </small>
                            
                            <select id="tradeRegions" name="tradeRegions">
                                <option value="j">{{ "auth.only-japan"|trans }}</option>
                                <option value="efdsipu">{{ "auth.all-except-japan"|trans }}</option>
                                <option value="efdsipuj" selected>{{ "auth.all-regions"|trans }}</option>
                            </select>
                        </div>
						<button type="submit" class="btn btn-primary">{{'signup'|trans}}</button>
					</fieldset>
					<input type="hidden" name="id" value="{{ id|e }}" />
					<input type="hidden" name="key" value="{{ key|e }}" />
				</form>
			</div>
		{% elseif result == 0 %}
			<div class="alert alert-success m-auto">
				{{'auth.registration-complete'|trans}}
			</div>
		{% elseif result == 1 %}
			<div class="alert alert-danger m-auto">
				{{'link-invalid-expired'|trans}}
			</div>
		{% endif %}
	</div>
{% endblock %}
